Repository kwooshung/standard-version-helper: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx jest --findRelatedTests

.lintstagedrc:

{
         "*.{js,jsx,ts,tsx}": ["npx prettier --write", "npx eslint --fix"],
               "*.{json,md}": ["npx prettier --write"],
    "*.test.{js,jsx,ts,tsx}": ["npx jest --findRelatedTests"]
}

🛠️ workflows(workflows): 同步gitee仓库地址写错了
  .github/workflows/ci.yml
  CHANGELOG.md
Due: npx prettier --write

🛠️ workflows(workflows): 尝试同步自动同步到 npm.js 中
  .github/workflows/ci.yml
  CHANGELOG.md
Due: npx prettier --write

🛠️ workflows(workflows): 发布包，设置公开包
  .github/workflows/ci.yml
  CHANGELOG.md
Due: npx prettier --write

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: npx prettier --write

chore(release): 0.0.1
  CHANGELOG.md
  package.json
Due: npx prettier --write

🐛 fix(code): 修复了git命令的问题
  CHANGELOG.md
  pnpm-lock.yaml
  src/command.ts
  src/index.ts
  src/locales/index.ts
  src/revertToPreviousVersion.ts
Due: npx prettier --write, npx eslint --fix

🛠️ deps(deps): 删除了自己已删除的包，也就是当前项目的包，不然无法合并
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

⚙️ config(config): 稍作修改的配置，看看能否生成bin
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Due: npx prettier --write

⚙️ config(config): 看样子必须先更新并提交内容，再打tag
  CHANGELOG.md
Due: npx prettier --write

chore(release): 0.0.2
  CHANGELOG.md
Due: npx prettier --write

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Due: npx prettier --write

chore(release): 0.0.3
  CHANGELOG.md
Due: npx prettier --write

chore(release): 0.0.4
  CHANGELOG.md
  package.json
Due: npx prettier --write

chore(release): 0.0.6
  CHANGELOG.md
  package.json
Due: npx prettier --write

🚧 wip(other): add files comments
  package.json
  pnpm-lock.yaml
  src/__test__/command.test.ts
  src/__test__/locales.test.ts
  src/__test__/packageJson.test.ts
  src/command.ts
  src/index.ts
  src/interface.d.ts
  src/locales/index.ts
  src/packageJson.ts
  src/revertToPreviousVersion.ts
Due: npx prettier --write, npx eslint --fix, npx jest --findRelatedTests

chore(release): 0.0.7
  CHANGELOG.md
  package.json
Due: npx prettier --write

🍻 release: 新版本，至少能用的版本了
  CHANGELOG.md
Due: npx prettier --write

chore(release): 0.0.8
  CHANGELOG.md
  package.json
Due: npx prettier --write

chore(release): 0.0.9
  CHANGELOG.md
  package.json
Due: npx prettier --write

chore(release): 0.0.10
  CHANGELOG.md
  package.json
Due: npx prettier --write

chore(release): 0.0.11
  CHANGELOG.md
  package.json
Due: npx prettier --write

chore(release): 0.0.11
  CHANGELOG.md
Due: npx prettier --write

chore(release): 0.0.12
  CHANGELOG.md
  package.json
Due: npx prettier --write

🚀 chore(tools): add auto translation for lang packs
  .commitlintrc.cjs
  .cz-config.cjs
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
  src/locales/index.ts
  src/locales/langs/ar_EG.ts
  tools/commitScopes.cjs
  tools/commitTypes.cjs
  tools/translate.mjs
Due: npx prettier --write, npx eslint --fix

🚀 chore(tools): add types
  CHANGELOG.md
  tools/commitTypes.cjs
Due: npx prettier --write

🚀 chore(tools): update regexp
  tools/translate.mjs
Due: none

🚀 chore(tools): update normalizeVariables regexp
  src/locales/langs/ar_EG.ts
  tools/translate.mjs
Due: npx prettier --write, npx eslint --fix

🚀 chore(tools): update normalizeVariables regexp comments
  tools/translate.mjs
Due: none

🐛 fix(tools): missing return for formatDate function
  README.md
  src/locales/langs/ar_EG.ts
  src/locales/langs/az_AZ.ts
  src/locales/langs/bg_BG.ts
  src/locales/langs/bn_BD.ts
  src/locales/langs/by_BY.ts
  src/locales/langs/ca_ES.ts
  src/locales/langs/cs_CZ.ts
  src/locales/langs/da_DK.ts
  tools/translate.mjs
Due: npx prettier --write, npx eslint --fix

chore(release): 0.1.0
  CHANGELOG.md
  package.json
Due: npx prettier --write

chore(release): 0.1.1
  CHANGELOG.md
  package.json
Due: npx prettier --write

📚 docs(docs): update shields
  CHANGELOG.md
  README.md
  README.zh-CN.md
Due: npx prettier --write
